<a href="https://colab.research.google.com/github/aaralmenghani/Aaral-projects/blob/master/Copy_of_Copy_of_extra_activities_sheet4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Activity 1: Triangle I

Write a code to get the following output using a while loop.

```
1
11
111
1111
11111
```

In [3]:
# create 2 variables num1 and num2 and initialize 1 and 0 in them respectively.
num1 = 1
num2 = 0
# create while loop for num2<5
while num2 < 5:
  #print num1 variable
  print(num1)

  #do num1 * 10 + 1 and store in num1
  num1 = num1 * 10 + 1

  # increment the value of num2 by 1
  num2 = num2 + 1

1
11
111
1111
11111

#### Activity 2: Triangle II

Write a code to get the following output using a while loop.

```
1
101
10101
1010101
101010101
```

In [7]:
# create 2 variables num1 and num2 and initialize 1 and 0 in them respectively.
num1 = 1
num2 = 0
# create while loop for num2<5
while num2 <5:
  #print num1 variable
  print (num1) 
  #do num1 * 100 + 1 and store in num1
  num1 = num1 * 100 + 1
  # increment the value of num2 by 1
  num2 = num2 + 1

1
101
10101
1010101
101010101

#### Activity 3: Powers of 11

Print the first five powers of 11 without using the `**` operator. Here's the expected output.

```
11
121
1331
14641
161051
```

In [14]:
# create 2 variables num1 and num2 and initialize 11 and 0 in them respectively.
num1 = 11
num2 = 0
# create while loop for num2<5
while num2 < 5:
  #print num1 variable
  print (num1) 
  #do num1 * 10 + 1 and store in num1
  num1 = num1 * (10 + 1) 
  # increment the value of num2 by 1
  num2 = num2 + 1

11
121
1331
14641
161051

### **Activity 3:** Create an infinite loop of your choice and give me an amazing number.

In [22]:
a =1
while a >= 0:
  a = a+1
  if a == 111199:
    break
print(a)

111199